.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(255,255,255,0);
}
.logo img {
    height:44px;
}
.logo__mark {
    display:inline-flex;
    align-items:center;
    margin-right:5px;
}
.logo__mark .greater-icon {
    width:.95rem;height:100%
}
.logo__mark .greater-icon polyline {
    stroke:currentColor;
    stroke-width:8px;
}
.logo__text {
    font-size:1.125rem;
}
.logo__cursor {
    display:inline-block;
    width:10px;
    height:1rem;
    background:#BE2337;
    margin-left:5px;
    border-radius:1px;
    -webkit-animation:cursor 1s infinite;
    animation:cursor 1s infinite;
}

.navbar-collapse {
    flex-grow: 0;
}

.logo {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    text-decoration: none;
  
    img {
      height: 44px;
    }
  
    &__mark {
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
  
      @mixin greater-icon 8px;
    }
  
    &__text {
      font-size: 1.125rem;
    }
  
    &__cursor {
      display: inline-block;
      width: 10px;
      height: 1rem;
      background: #BE2337;
      margin-left: 5px;
      border-radius: 1px;
      animation: cursor 1s infinite;
    }
  }
  
  @keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  